### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.dtypes
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
players_count = purchase_data["SN"].nunique()
print("Number of Players:" + " "+ str(players_count))

Number of Players: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_items = purchase_data["Item Name"].nunique()
#unique_items

In [4]:
average_price = purchase_data["Price"].mean()
#average_price

In [5]:
total_purchases = purchase_data["Purchase ID"].count()
#total_purchases

In [6]:
revenue = purchase_data["Price"].sum()
revenue

2379.77

In [7]:


#print(unique_items)
#print(round(average_price,2))
#print(total_purchases)
#print(revenue)
print("made it")

#summary_table.head()

made it

In [8]:
summary_df = {"Unique Items":unique_items, 
              "Average Price":average_price,
              "Total Purchases":total_purchases, 
              "Revenue":revenue}

summary_table = pd.DataFrame(summary_df, index=[0])


#summary_table["average_price"] = summary_table["average_price"].map("${:.2f}".format)
#summary_table["revenue"] = summary_table["revenue"].map("{:.2f}".format)

summary_table

   Unique Items  Average Price  Total Purchases  Revenue
0           179       3.050987              780  2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
#working
count = purchase_data["Gender"].value_counts()
count

male = 652
female = 113
other = 15

percentage_of_male = round((male/780)*100)
print("Percentage of males:"+ " " + str(percentage_of_male) + "%")

percentage_of_female = round((female/780)*100)
print("Percentage of females:"+ " " + str(percentage_of_female) + "%")

percentage_of_other = round((other/780)*100)
print("Percentage of Other:"+ " " + str(percentage_of_other) + "%")

Percentage of males: 84%
Percentage of females: 14%
Percentage of Other: 2%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
grouped_gender_df = purchase_data.groupby(['Gender'])
print(grouped_gender_df)
#grouped_gender_df.count().head(10)

#Purchase Count
purchase_count = grouped_gender_df["Purchase ID"].count()
#print(purchase_count)

#Average Purchase Price
avg_price = grouped_gender_df["Price"].mean()
#print(avg_price)

#Total Purchase Value
#total_value = 
total_pur_by_gen = grouped_gender_df['Price'].sum()
#print(total_pur_by_gen)

#Average Purchase Total per Person by Gender
avg_purchase = grouped_gender_df["Purchase ID"].mean()
#print(avg_purchase)

<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x1159e92b0>

In [11]:
 purchase_analysis = {"Purchase Count":purchase_count, 
                     "Average Purchase Price":avg_price,
                     "Total Purchase Value":total_pur_by_gen, 
                     "Average Purchase Total":avg_purchase}

gender_summary_table = pd.DataFrame(purchase_analysis)
gender_summary_table

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total
Gender,,,,
Female,113,3.203009,361.94,379.380531
Male,652,3.017853,1967.64,392.516871
Other / Non-Disclosed,15,3.346000,50.19,334.600000

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [12]:
#max_age = purchase_data["Age"].max()
#max_age
#min_age = purchase_data["Age"].min()
#min_age

# Create the bins in which Data will be held
bins = [0, 10, 15, 20, 25, 30, 35, 40]

# Create the names for the four bins
age_bin = ["10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40 +"]

purchase_data["Age Summary"] = pd.cut(purchase_data["Age"], bins, labels=age_bin)
#print(purchase_data)

age_demographics = purchase_data.groupby(["Age Summary"])
#print(age_demographics)

#not working
age_demographics.count().head(10)

#Calculate the numbers and percentages by age group
count = purchase_data["Age Summary"].value_counts()
count

#percentages

25-29    325
20-24    200
30-34     77
15-19     54
35-39     52
40 +      33
10-14     32
Name: Age Summary, dtype: int64

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
#Bin the purchase_data data frame by age
age_demographics = purchase_data.groupby(["Age Summary"])

#Run basic calculations
#Purchase Count
purchase_count = age_demographics["Purchase ID"].count()

#Average Purchase Price
avg_price_age = age_demographics["Price"].mean()
#avg_price_age

#Total Purchase Value
total_purchase_age = age_demographics['Price'].sum()
#total_purchase_age

#Average Purchase Total per Person by Age Group
avg_purchase_age = age_demographics["Purchase ID"].mean()
#avg_purchase_age

In [14]:
age_purchase_analysis = {"Purchase Count":purchase_count, 
                         "Average Purchase Price":avg_price_age,
                         "Total Purchase Value":total_purchase_age, 
                         "Average Purchase Total":avg_purchase_age}

age_summary_table = pd.DataFrame(age_purchase_analysis)
age_summary_table

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total
Age Summary,,,,
10-14,32,3.405000,108.96,389.906250
15-19,54,2.900000,156.60,416.833333
20-24,200,3.107800,621.56,389.595000
25-29,325,3.020431,981.64,386.338462
30-34,77,2.875584,221.42,387.324675
35-39,52,2.994423,155.71,362.057692
40 +,33,3.404545,112.35,391.151515

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [15]:
#Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
#groupbySN 
SN_grouped = purchase_data.groupby(["SN"])
#SN

#Purchase Count
purchase_count = SN_grouped["Purchase ID"].count()
#purchase_count

#Average Purchase Price
avg_price = SN_grouped['Price'].mean()

#Total Purchase Value
total_purchase_value = SN_grouped['Price'].sum()

#sort the highest by Price
#could not get this to work for me :(

In [16]:
spender_summary = {"Purchase Count":purchase_count, 
                   "Average Purchase Price":avg_price,
                   "Total Purchase Value":total_purchase_value}

spender_summary_df = pd.DataFrame(spender_summary)
spender_summary_df.head()

#top_spender_summary_df = spender_summary_df.sort_values(['Price'],ascending=False)
#top_spender_summary_df.reset_index(inplace=True)

#top_spender_summary_df
#strongest_pokemon = pokemon_comparison.sort_values(["Total"], ascending=False)

              Purchase Count  Average Purchase Price  Total Purchase Value
SN
Adairialis76               1                    2.28                  2.28
Adastirin33                1                    4.48                  4.48
Aeda94                     1                    4.91                  4.91
Aela59                     1                    4.32                  4.32
Aelaria33                  1                    1.79                  1.79

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [17]:
popular_items = purchase_data[["Item ID","Item Name","Price"]]

#Identify the 5 most popular items by purchase count, then list (in a table):
#Item ID
#Item Name
popular_items_grouped = popular_items.groupby(["Item ID", "Item Name"])
#popular_items_grouped.head()

#Purchase Count
popular_count = popular_items_grouped.count()
#print(popular_count)

#Item Price
#Total Purchase Value
items_total_purchase_value = popular_items['Price'].sum()

In [18]:
#items_summary = {"Purchase Count":popular_count, 
#                 "Total Purchase Value":items_total_purchase_value}

#items_summary_df = pd.DataFrame(items_summary)
#items_summary_df

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame