### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.dtypes
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
players_count = purchase_data["SN"].nunique()
print("Number of Players:" + " "+ str(players_count))

Number of Players: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#get the number of unique items
unique_items = purchase_data["Item Name"].nunique()
unique_items

179

In [4]:
#get the average price 
average_price = purchase_data["Price"].mean()
average_price

3.050987179487176

In [5]:
#get the number of the total items purchased
total_purchases = purchase_data["Purchase ID"].count()
total_purchases

780

In [6]:
#get the total amount of revenue 
revenue = purchase_data["Price"].sum()
revenue

2379.77

In [7]:
summary_disc = {"Unique Items":unique_items, 
              "Average Price":average_price,
              "Total Purchases":total_purchases, 
              "Revenue":revenue}

#make the dataframe
summary_table = pd.DataFrame(summary_disc, index=[0])

#change the format for the values to clean up data
summary_table['Unique Items'] = summary_table['Unique Items'].map('${:,.2f}'.format)
summary_table['Average Price'] = summary_table['Average Price'].map('${:,.2f}'.format)
summary_table['Revenue'] = summary_table['Revenue'].map('${:,.2f}'.format)

summary_table

  Unique Items Average Price  Total Purchases    Revenue
0      $179.00         $3.05              780  $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [8]:
#find the amount for each gender
count = purchase_data["Gender"].value_counts()
count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [9]:
#find the percentages for each gender 
percentages = purchase_data["Gender"].value_counts()/count.sum()*100
percentages

Male                     83.589744
Female                   14.487179
Other / Non-Disclosed     1.923077
Name: Gender, dtype: float64

In [10]:
gender_disc = {"Count" : count,
               "Percentages": percentages
    }

gender_demographics = pd.DataFrame(gender_disc)

gender_demographics['Percentages'] = gender_demographics['Percentages'].map('{:,.2f}%'.format)

gender_demographics

                       Count Percentages
Male                     652      83.59%
Female                   113      14.49%
Other / Non-Disclosed     15       1.92%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
grouped_gender_df = purchase_data.groupby(['Gender'])
print(grouped_gender_df)
#grouped_gender_df.count().head(10)

#Purchase Count
purchase_count = grouped_gender_df["Purchase ID"].count()
#print(purchase_count)

#Average Purchase Price
avg_price = grouped_gender_df["Price"].mean()
#print(avg_price)

#Total Purchase Value
#total_value = 
total_pur_by_gen = grouped_gender_df['Price'].sum()
#print(total_pur_by_gen)

#Average Purchase Total per Person by Gender
avg_purchase = grouped_gender_df["Purchase ID"].mean()
#print(avg_purchase)

<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x114688550>

In [12]:
 purchase_analysis = {"Purchase Count":purchase_count, 
                     "Average Purchase Price":avg_price,
                     "Total Purchase Value":total_pur_by_gen, 
                     "Average Purchase Total":avg_purchase}

gender_summary_table = pd.DataFrame(purchase_analysis)

#change the format for the values to clean up data
gender_summary_table['Average Purchase Price'] = gender_summary_table['Average Purchase Price'].map('${:,.2f}'.format)
gender_summary_table['Total Purchase Value'] = gender_summary_table['Total Purchase Value'].map('${:,.2f}'.format)
gender_summary_table['Average Purchase Total'] = gender_summary_table['Average Purchase Total'].map('${:,.2f}'.format)

gender_summary_table

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total
Gender,,,,
Female,113,$3.20,$361.94,$379.38
Male,652,$3.02,"$1,967.64",$392.52
Other / Non-Disclosed,15,$3.35,$50.19,$334.60

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [13]:
#Find the minimum and max age 
max_age = purchase_data["Age"].max()
max_age

45

In [14]:
min_age = purchase_data["Age"].min()
min_age

7

In [15]:
#Create the bins in which Data will be held
bins = [0, 10, 15, 20, 25, 30, 35, 40, 100]

# Create the names for the four bins
age_bin = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40 +"]

In [17]:
#put the users into bins 
age_demographics = pd.cut(purchase_data["Age"], bins, labels=age_bin)
age_demographics

#calculate the count by age group
age_demographics_count = age_demographics.value_counts()
age_demographics_count

#calculate percentages
percentages = age_demographics.value_counts()/age_demographics_count.sum()*100
percentages

#put the users into bins 
#age_demographics['Percentages'] = gender_demographics['Percentages'].map('{:,.2f}%'.format)

20-24    41.666667
15-19    25.641026
25-29     9.871795
10-14     6.923077
30-34     6.666667
35-39     4.230769
<10       4.102564
40 +      0.897436
Name: Age, dtype: float64

In [18]:
age_disc = {"Total Count":age_demographics_count, 
            "Percentage of Players":percentages,
            }
Age_demographics = pd.DataFrame(age_disc)
 
Age_demographics['Percentage of Players'] = Age_demographics['Percentage of Players'].map('{:,.2f}%'.format)
Age_demographics = Age_demographics.reindex(index = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40 +"])
Age_demographics

       Total Count Percentage of Players
<10             32                 4.10%
10-14           54                 6.92%
15-19          200                25.64%
20-24          325                41.67%
25-29           77                 9.87%
30-34           52                 6.67%
35-39           33                 4.23%
40 +             7                 0.90%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [30]:
#Create the bins in which Data will be held
bins = [0, 10, 15, 20, 25, 30, 35, 40, 100]

# Create the names for the four bins
age_bin = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40 +"]

In [32]:
#put the users into bins 
age_demographics = pd.cut(purchase_data["Age"], bins, labels=age_bin)
#age_demographics

In [33]:
#add the column into df to calculate totals 
purchase_data = purchase_data.assign(age_demographics=age_demographics.values)
#purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,age_demographics
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15-19
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,35-39
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [37]:
#group by age group
age_purchase = purchase_data.groupby(age_demographics)

In [47]:
#purchase count per age group
purchase_count = age_purchase ["Purchase ID"].count()
purchase_count 
#avg. purchase price
purchase_average = age_purchase ["Purchase ID"].mean()
purchase_average
#total purchase value
total_purchase = age_purchase ["Price"].sum()
total_purchase
#avg. purchase total per person
avg_per_person = age_purchase['Price'].mean()
avg_per_person

In [49]:
age_purchase_analysis = {"Purchase Count":purchase_count, 
                         "Average Purchase Price":purchase_average,
                         "Total Purchase Value":total_purchase, 
                         "Average Purchase Per Person":avg_per_person}

age_summary_table = pd.DataFrame(age_purchase_analysis)
age_summary_table

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Per Person
Age,,,,
<10,32,389.906250,108.96,3.405000
10-14,54,416.833333,156.60,2.900000
15-19,200,389.595000,621.56,3.107800
20-24,325,386.338462,981.64,3.020431
25-29,77,387.324675,221.42,2.875584
30-34,52,362.057692,155.71,2.994423
35-39,33,391.151515,112.35,3.404545
40 +,7,540.857143,21.53,3.075714

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [53]:
#group by SN
purchase_per_person = purchase_data.groupby('SN')
#purchase_per_person.head()

In [ ]:
#get the top five spenders

In [ ]:
spender_summary = {"Purchase Count":purchase_count, 
                   "Average Purchase Price":avg_price,
                   "Total Purchase Value":total_purchase_value}

spender_summary_df = pd.DataFrame(spender_summary)
spender_summary_df.head()

#top_spender_summary_df = spender_summary_df.sort_values(['Price'],ascending=False)
#top_spender_summary_df.reset_index(inplace=True)

#top_spender_summary_df
#strongest_pokemon = pokemon_comparison.sort_values(["Total"], ascending=False)

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
popular_items = purchase_data[["Item ID","Item Name","Price"]]

#Identify the 5 most popular items by purchase count, then list (in a table):
#Item ID
#Item Name
popular_items_grouped = popular_items.groupby(["Item ID", "Item Name"])
#popular_items_grouped.head()

#Purchase Count
popular_count = popular_items_grouped.count()
#print(popular_count)

#Item Price
#Total Purchase Value
items_total_purchase_value = popular_items['Price'].sum()

In [ ]:
#items_summary = {"Purchase Count":popular_count, 
#                 "Total Purchase Value":items_total_purchase_value}

#items_summary_df = pd.DataFrame(items_summary)
#items_summary_df

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame